<div class="main-footer-container">
  {% for block in section.blocks %}
    <div class="block">
      <div class="content">
        <div class="dropbar">
          <ul>
           <li>
             <a href="#" class="feat-btn">{{ block.settings.sub-head }}</a>
              <ul class="feat-show">
                <li><a href="#">{{ block.settings.text }}</a></li>
                <li><a href="#">{{ block.settings.text2 }}</a></li>
                <li><a href="#">{{ block.settings.text3 }}</a></li>
                <li><a href="#">{{ block.settings.text4 }}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="sub-container">
    <div class="sub-content">
      <h2>{{ section.settings.title }}</h2>
      <span>{{ section.settings.span }}</span>
    </div>
      <div class="input-email">
        <label>
          <input type="email" name="customer[email]" id="email" placeholder="Email address" autocorrect="off" autocapitalize="off" autocomplete="email">
          <button>submit</button>
        </label>
      </div>
  </div>
    
    <div class="contact-container">
      <div class="content">
        <div id="svg">
          <svg id="Vitality_Logo_tree_main_footer" data-name="Vitality Logo 260" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><defs><style>.footer-1-tree{fill:#f0dca1;}.footer-2-tree{fill:#ffffff;}</style></defs><title>VitalityCBD Icon Green</title><polygon class="footer-1-tree" points="37.47 30.01 30.01 41.19 59.89 61.1 36.55 76.67 44 87.85 65.28 73.66 65.28 111.39 78.72 111.39 78.72 73.66 100 87.85 107.45 76.67 84.11 61.1 113.99 41.19 106.53 30.01 78.72 48.55 78.72 0 65.28 0 65.28 48.55 37.47 30.01"></polygon><path class="footer-2-tree" d="M103.51,10a38.16,38.16,0,0,0-10,1.34,5.28,5.28,0,1,0,2.76,10.19,28,28,0,0,1,7.26-1c16.28,0,28.55,11.91,28.55,27.71,0,25.71-45.85,69.76-60.06,82.16C57.78,118,11.94,74,11.94,48.29c0-15.8,12.27-27.71,28.55-27.71a28,28,0,0,1,7.26,1,5.28,5.28,0,1,0,2.76-10.19,38.16,38.16,0,0,0-10-1.34C18.56,10,1.38,26.83,1.38,48.29c0,36.27,66.72,92.71,67.4,93.23L72,144l3.22-2.48c.67-.52,67.4-56.93,67.4-93.23C142.62,26.83,125.44,10,103.51,10Z"></path></svg>
        </div>
        <h5>{{ section.settings.p }}</h5>
        <a href="#">{{ section.settings.contact}}</a>
          <div id="contact-icons">
            <i class="fa fa-instagram"></i>
            <i class="fa fa-facebook-f"></i>
          </div>
      </div>
    </div>
               

  <div class="middle-container">
    <div class="middle-content">
      <div class="inner">
        <p>{{ section.settings.copyright }}</p>
        <p>{{ section.settings.year }}</p>
        <p>{{ section.settings.ltd }}</p>
        <p>{{ section.settings.all-rights }}</p>
        <a class="a-mid" href="#">{{ section.settings.privacy }}</a>
        <a class="a-mid" href="#">{{ section.settings.use-of }}</a>
        <a class="a-mid" href="#">{{ section.settings.terms }}</a>
      </div>
        <div class="images">
          <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>
          <svg class="icon icon--full-color" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
          <img src="{{ section.settings.image | img_url: "master" }}"/>
        </div>
    </div>
  </div>


  <div class="last-container">
    <div class="last-content">
      <p>{{ section.settings.company-details }}</p>
      <div id="footer-icons">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook-f"></i>
      </div>
    </div>
  </div>  
</div>


{% schema %}
{
  "name": "Main Footer",
  "tag": "section",
  "class": "main-footer",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Subscribe to VitalityCBD"
  },
  {
    "type": "text",
    "id": "span",
    "label": "Span",
    "default": "Get the latest news from VitalityCBD"
  },
  {
    "type": "text",
    "id": "p",
    "label": "P",
    "default": "Contact us"
  },
  {
    "type": "text",
    "id": "contact",
    "label": "Contact",
    "default": "Speak to us: 0121&nbsp;328&nbsp;3208"
  },
  {
    "type": "text",
    "id": "copyright",
    "label": "Copyright",
    "default": "Copyright©"
  },
  {
    "type": "text",
    "id": "year",
    "label": "Year",
    "default": "2021"
  },
  {
    "type": "text",
    "id": "ltd",
    "label": "Ltd",
    "default": "Vitality CBD Ltd"
  },
  {
    "type": "text",
    "id": "all-rights",
    "label": "All Rights",
    "default": "All Rights Reserved."
  },
  {
    "type": "text",
    "id": "privacy",
    "label": "Privacy",
    "default": "Privacy policy"
  },
  {
    "type": "text",
    "id": "use-of",
    "label": "Use Of",
    "default": "Use of cookies"
  },
  {
    "type": "text",
    "id": "terms",
    "label": "Terms",
    "default": "Terms of use"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "company-details",
    "label": "Company Details",
    "default": "Vitality CBD Ltd&nbsp | &nbspCompany no: 11612964 &nbsp | Wainwright Street, Aston, Birmingham, B6 5TJ, Uk"
  }
  ],
    "blocks": [
    {
      "type": "text",
      "name": "Main Footer",
      "settings": [
      {
        "type": "text",
        "id": "sub-head",
        "label": "Sub-Head",
        "default": "Shop Now <i class='fa fa-plus'></i>"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Home"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "Online store"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Text3",
        "default": "Store finder"
      },
      {
        "type": "text",
        "id": "text4",
        "label": "Text4",
        "default": "Talk to us"
      }
      ]
    }
    ],
      "presets": [
    {
      "name": "Main footer",
      "category": "Main Footer"
    }
  ]
}
{% endschema %}